# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 49887f25f6847e7b8f70e2e5eaf5e12edb4efeb8673a5899973954e1ddcac488022bb13edd19c3cb81fb51f1bab6cd4e9593039391c1277edc0d5944cbbcd35b

test:
  secret_key_base: 4b0b86257aa6558fd96fccd89a5b1061f63bbb8783138a1519c387d6b49e526cbc9fb96c3d1a7b68ec928e25e1a5ae435e2c1ab5d2d32e35ece9a313c330d227

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
